
@model SoftwareProject.Models.EntityFramework.Patient
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<link href="~/assets/css/Validation.css" rel="stylesheet" />
<link href="~/assets/css/Login.css" rel="stylesheet" />


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>

    <div class="box">
        @ViewBag.Message
        <form method="post" action="">
            <input type="text" name="Name" placeholder="Name">
            @Html.ValidationMessageFor(x => x.Name)
            <input type="text" name="Surname" placeholder="Surname">
            @Html.ValidationMessageFor(x => x.Surname)
            <input type="password" name="Password" placeholder="Password">
            @Html.ValidationMessageFor(x => x.Password)
            <input type="text" name="Email" placeholder="Email">
            @Html.ValidationMessageFor(x => x.Email)
            <input type="text" name="IdNumber" placeholder="IdNumber">
            @Html.ValidationMessageFor(x => x.IdNumber)
            <button type="submit">Sign Up</button>

        </form>


    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

