@using SoftwareProject.Models.EntityFramework
@model ViewModel2
@{
    Layout = null;
}

@{
    IEnumerable<ViewModel> viewModels = ViewData["TestTable"] as IEnumerable<ViewModel>;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/assets/vendor/select2/select2.min.css" rel="stylesheet" />
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="~/assets/css/Prediction.css" rel="stylesheet" />
    <link href="~/assets/css/Login.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <title>Diagnosis</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- Template Main CSS File --
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>MeDiag</title>

    <!-- Icons font CSS-->
    <link href="~/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet" />
    <!-- Vendor CSS-->
    <link href="~/assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->

    <link href="~/assets/css/Appointmentcss.css" rel="stylesheet" />
</head>

<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a style="text-decoration:none;" href="/Home/Index">Diagnosis</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0" style=" font-size: 50px;">
                <ul>
                    <li><a class="nav-link scrollto active" style="text-decoration:none;" href="/Home/Index">Home</a></li>
                    <li><a class="nav-link scrollto" style="text-decoration:none;" href="/Home/Index/#about">About</a></li>
                    <li><a class="nav-link scrollto" style="text-decoration:none;" href="/Home/Index/#contact">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a style="text-decoration:none;" href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a style="text-decoration:none;" href="/Profile/PatientProfile/@Model.PID">Informations</a></li>
                                <li><a style="text-decoration:none;" href="#">Past Operations</a></li>
                                <li><a style="text-decoration:none;" href="#">Chat With Doctor</a></li>

                            </ul>
                        </li>
                    }

                    <li><a class="nav-link scrollto" style="text-decoration:none;" href="/Appointment/AppointmentIndex/@Model.PID">Make An Appointment</a></li>
                    <li><a class="nav-link scrollto" style="text-decoration:none;" href="/Prediction/Index/@Model.PID">Make A Prediction</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            @if (User.Identity.IsAuthenticated == false)
            {
                <a href="/Security/Login" class="appointment-btn scrollto" style="text-decoration:none;"><span class="d-none d-md-inline">Login</span></a>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Security/Logout" id="abcd" class="appointment-btn scrollto" style="text-decoration:none;"><span class="d-none d-md-inline">Logout</span></a>
            }



        </div>
    </header><!-- End Header -->
    <main style="margin-top:150px;">

        <div>
            <h6>@TempData["success"]</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="border-top-0">STATUS</th>
                        <th class="border-top-0">OPERATION NAME</th>
                        <th class="border-top-0">OPERATION DATE</th>
                        <th class="border-top-0">OPERATION TIME</th>
                        <th class="border-top-0">HOSPITAL NAME</th>
                        <th class="border-top-0">HOSPITAL ADDRESS</th>


                    </tr>
                </thead>
                <tbody>

                    @foreach (ViewModel viewModel in viewModels)
                    {
                        string stringToConvert = Convert.ToString(viewModel.appointment.Date.Value.ToShortDateString()) + " " + TimeSpan.Parse(viewModel.dApp.Time);
                        var time1 = DateTime.Now;
                        var time2 = Convert.ToDateTime(stringToConvert);
                        int result = DateTime.Compare(time1, time2);
                        if (viewModel.appointment.PatientId == PatientHelper.id)
                        {
                            <tr>
                                @if (result < 0)
                                {
                                    <td><span class="label label-success label-rounded">Tamamlanmadı</span> </td>
                                }
                                @if (result > 0)
                                {
                                    <td><span class="label label-danger label-rounded">Tamamlandı</span> </td>
                                }
                                <td>@viewModel.appointment.Name</td>
                                <td>@viewModel.appointment.Date.Value.ToShortDateString()</td>
                                <td>@viewModel.dApp.Time</td>
                                <td>@viewModel.hospital.Name</td>
                                <td>@viewModel.hospital.Address</td>


                            </tr>

                        }

                    }
                </tbody>
            </table>
        </div>

    </main>
    <div class="footer2">




        <!-- ======= Footer ======= -->
        <footer>



            <div class="container d-md-flex py-4">

                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Diagnosis</span></strong>. All Rights Reserved
                    </div>

                </div>

            </div>
        </footer>
        <!-- End Footer -->
    </div>


    <script src="~/assets/js/global.js"></script>
</body>
</html>
